body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: #111827;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  color: #cbd5e1;
}

.buttons a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: #3b82f6;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

/* SECTIONS */
section {
  padding: 40px;
}

h2 {
  color: #60a5fa;
}

/* SKILLS */
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.grid span {
  background: #1f2937;
  padding: 10px;
  border-radius: 8px;
}

/* CARDS */
.card {
  background: #1f2937;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}